<ion-grid class="nav-space nav-container">
  <div class="container">
    <ion-row>
      <ion-col size-lg="4" size-md="11" size-sm="11" size-xs="10">
        <img src="../../../assets/imgs/Group 11.png" alt="">
      </ion-col>
      <ion-col size-lg="8" class="nav-links">
        <ion-text>What is Lobbi</ion-text>
        <ion-text>Lobbi Web</ion-text>
        <ion-text>Features</ion-text>
        <ion-text>News</ion-text>
        <ion-text>FAQ</ion-text>
        <div class="nav-links">
          <ion-text>Contact</ion-text>
          <ion-icon class="searchIcon" name="search-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="menuMobile" size-md="1" size-sm="1" size-xs="2">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>