<ion-grid>
  <div class="container">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text class="title">FAQS</ion-text>
        <p class="subtitle">Have a question? Look here</p>
      </ion-col>
    </ion-row>

    <!-- Accordion -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="6" size-md="12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item ion-margin-vertical">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is Lobbi?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Quis autem vel eum iure reprehenderit, 
                qui inea voluptate velit esse, quam nihil molestiae consequatur,
                vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
              </div>
            </div>
          </div>
          <div class="accordion-item ion-margin-vertical">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How do I sign up for Lobbi?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Quis autem vel eum iure reprehenderit, 
                qui inea voluptate velit esse, quam nihil molestiae consequatur,
                vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
              </div>
            </div>
          </div>
          <div class="accordion-item ion-margin-vertical">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What make Lobbi different from others app?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Quis autem vel eum iure reprehenderit, 
                qui inea voluptate velit esse, quam nihil molestiae consequatur,
                vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
              </div>
            </div>
          </div>
          <div class="accordion-item ion-margin-vertical">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What can I do with Lobbi e-wallet
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Quis autem vel eum iure reprehenderit, 
                qui inea voluptate velit esse, quam nihil molestiae consequatur,
                vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
              </div>
            </div>
          </div>
          <div class="accordion-item ion-margin-vertical">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How do I sign up for Lobbi?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Quis autem vel eum iure reprehenderit, 
                qui inea voluptate velit esse, quam nihil molestiae consequatur,
                vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
              </div>
            </div>
          </div>
          <div class="faq-button">
            <ion-button style="text-transform: none;" fill="clear" color="orange">view more <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
          </div>
        </div>
      </ion-col>

      <ion-col class="vector-position" size-xl="6" size-lg="6">
        <div>
          <img src="../../assets/imgs/Vector.png" alt="">
        </div>
      </ion-col>

    </ion-row>
  </div>
</ion-grid>