<ion-slides pager="true">

  <ion-slide>
    <ion-grid class="feedbackContainer feedbackHeight ion-margin-vertical">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text class="title">Review</ion-text>
          <p class="subtitle">kind word from app users</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <ion-col>
          <img src="../../../assets/imgs/Ellipse.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <p class="feedbackText">
            <span class="openQ">"</span>
            Quis autem vel eum iure reprehenderit, 
            qui inea voluptate velit esse, quam nihil molestiae consequatur, 
            vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <hr class="breakLine">
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackUser">Stephanie Elise</ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackLabel">App user</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid class="feedbackContainer feedbackHeight ion-margin-vertical">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-text class="title">Review</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="subtitle">kind word from app users</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <ion-col>
          <img src="../../../assets/imgs/Ellipse.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="feedbackText">
            <span class="openQ">"</span>
            Quis autem vel eum iure reprehenderit, 
            qui inea voluptate velit esse, quam nihil molestiae consequatur, 
            vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <hr class="breakLine">
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackUser">Stephanie Elise</ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackLabel">App user</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid class="feedbackContainer feedbackHeight ion-margin-vertical">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-text class="title">Review</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="subtitle">kind word from app users</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <ion-col>
          <img src="../../../assets/imgs/Ellipse.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="feedbackText">
            <span class="openQ">"</span>
            Quis autem vel eum iure reprehenderit, 
            qui inea voluptate velit esse, quam nihil molestiae consequatur, 
            vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <hr class="breakLine">
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackUser">Stephanie Elise</ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
          <ion-text class="feedbackLabel">App user</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>