<ion-footer class="desktop-footer">
  <div class="footer-nav">
    <div class="container">
      <div class="footer-item ion-margin-horizontal">
        <div class="footer-info">
          <ion-label>Copyright © 2020 Newsoft IT Solution Sdn Bhd. All Rights Reserved.</ion-label>
        </div>
        <div class="footer-info">
          <ion-label>Help & Feedback&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Terms & Condition&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;Privacy Policy</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-footer>