<ion-grid class="info-container">
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-text class="title">Get In Touch</ion-text>
        <p class="subtitle">It all starts with a conversation. Let's talk.</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
      <ion-row>
        <div>
          <img src="../../../assets/imgs/Group 11.png" alt="">
        </div>
      </ion-row>
      <hr class="endLine">
      <ion-row class="ion-margin-vertical">
        
        <ion-col size-xl="3" size-lg="4" size-md="3" size-sm="5" size-xs="6">
          <div class="addressHeight">
            <div class="label-border">
              <div class="labels">
                <ion-icon class="iconSize" name="location-outline"></ion-icon>
                <ion-label>Address</ion-label>
              </div>
            </div>
          </div>
          <div class="label-border ion-margin-vertical">
            <div class="labels">
              <ion-icon class="iconSize" name="bag-outline"></ion-icon>
              <ion-label>Working Hours</ion-label>
            </div>
          </div>
          <div class="label-border ion-margin-vertical">
            <div class="labels">
              <ion-icon class="iconSize" name="call-outline"></ion-icon>
              <ion-label>Tel</ion-label>
            </div>
          </div>
          <div class="label-border ion-margin-vertical">
            <div class="labels">
              <ion-icon class="iconSize" name="paper-plane-outline"></ion-icon>
              <ion-label>Email</ion-label>
            </div>
          </div>
        </ion-col>

        <ion-col size-xl="5" size-lg="5" size-md="3" size-sm="5" size-xs="6">
          <div class="addressHeight">
            <div class="labelsDetail">
              <ion-label>
                29, Level 10, The Boulevard Office, Lingkaran Syad Putra, Mid Valley City, 59200, Kuala Lumpur
              </ion-label>
            </div>
          </div>
          <div class="labelsDetail ion-margin-vertical">9am - 6pm</div>
          <div class="labelsDetail ion-margin-vertical">014 - 963 9067</div>
          <div class="labelsDetail ion-margin-vertical">hello@lobbi.com.my</div>
        </ion-col>
      </ion-row>

      <hr class="endLine">

      <ion-row>
        <ion-col>
          <ion-label class="infoLabel">Connect with us. Spread the word.</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div style="display: flex;">
            <ion-icon class="socialIcon" name="logo-facebook"></ion-icon>
            <ion-icon class="socialIcon" name="logo-instagram"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-col>

    <ion-col size-xl="6" size-lg="5" size-md="12" size-sm="12" size-xs="12">
      <ion-row>
        <ion-col>
          <ion-label class="infoLabel">Drop us a message for business opportunity</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="custom-input">
            <ion-input placeholder="Name"></ion-input>
          </div>
          <div class="custom-input ion-margin-vertical">
            <ion-input placeholder="Mobile"></ion-input>
          </div>
          <div class="custom-input ion-margin-vertical">
            <ion-input placeholder="Email"></ion-input>
          </div>
          <div class="custom-input ion-margin-vertical">
            <ion-textarea rows="6" placeholder="Message"></ion-textarea>
          </div>
          <div class="info-button">
            <ion-button style="text-transform: none;" fill="clear" color="orange">Submit <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>