<ion-grid class="ion-margin-vertical">
  <div class="container">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text class="title">Why Lobbi</ion-text>
        <p class="subtitle">A lot of amazing & cool features</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-vertical">

      <ion-col class="whyDesktop" size-xl="3" size-lg="5" size-md="12" size-sm="12">
        <div class="doFlex">
          <div class="advertise2-container ion-margin-horizontal">
            <div class="flex-text-1">
              <ion-text class="advertise2-text-title">RELIABLE MESSAGING</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div class="flex-text-1">
              <ion-text class="advertise2-text-title">MOMENTS</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div class="flex-text-1">
              <ion-text class="advertise2-text-title">SECURE E-WALLET</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
          </div>
          <div class="advertise2-container-image ion-margin-horizontal">
            <div>
              <img src="../../../assets/imgs/Group-2.png" alt="">
            </div>
            <div>
              <img src="../../../assets/imgs/Group 261.png" alt="">
            </div>
            <div>
              <img src="../../../assets/imgs/wallet.png" alt="">
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="2" class="blankPhone">
        <div class="ion-text-center">
          <img src="../../assets/imgs/Group.png" alt="">
        </div>
      </ion-col>

      <ion-col class="whyMobile ion-margin-vertical" size-xl="5" size-md="12" size-sm="12">
        <div class="doFlex">
          <div class="advertise2-container-image ion-margin-horizontal">
            <div>
              <img class="whyImage" src="../../assets/imgs/Group-2.png" alt="">
            </div>
            <div>
              <img class="whyImage" src="../../assets/imgs/Group 261.png" alt="">
            </div>
            <div>
              <img class="whyImage" src="../../assets/imgs/wallet.png" alt="">
            </div>
          </div>
          <div class="advertise2-container ion-margin-horizontal">
            <div>
              <ion-text class="advertise2-text-title">RELIABLE MESSAGING</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div>
              <ion-text class="advertise2-text-title">MOMENTS</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div>
              <ion-text class="advertise2-text-title">SECURE E-WALLET</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
          </div>
        </div>
      </ion-col>
      
      <ion-col class="doFlex" size-xl="3" size-lg="5" size-md="12" size-sm="12">
        <div class="doFlex">
          <div class="advertise2-container-image ion-margin-horizontal">
            <div>
              <img class="whyImage" src="../../assets/imgs/Ellipse 2.png" alt="">
            </div>
            <div>
              <img class="whyImage" src="../../assets/imgs/Group-1.png" alt="">
            </div>
            <div>
              <img class="whyImage" src="../../assets/imgs/Ellipse 2.png" alt="">
            </div>
          </div>
          <div class="advertise2-container ion-margin-horizontal">
            <div>
              <ion-text class="advertise2-text-title">COMMUNICATIONS</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div>
              <ion-text class="advertise2-text-title">BUSINESS ACCOUNT</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
            <div>
              <ion-text class="advertise2-text-title">CONVENIENT</ion-text>
              <p class="advertise-description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>