<ion-grid class="ion-margin-vertical">
  <div class="container">
    <ion-row class="ion-align-items-center">
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <div class="centerImage">
          <img class="animateLeft" src="../../../assets/imgs/Group 232.png" alt="">
        </div>
      </ion-col>
      <ion-col class="advertise-center ion-justify-content-center">
        <ion-row>
          <ion-col>
            <ion-text class="advertise-title">Bridging Relationships</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col>
            <ion-text class="advertise-subtitle">Texting, voice & video call in your fingertips</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <div class="doubleButton">
              <ion-button class="custom-button buttonSpace" fill="outline" color="orange">Learn More</ion-button>
              <ion-button class="custom-button" color="orange">Learn More</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

<ion-grid>
  <div class="container">
    <ion-row class="ion-align-items-center">
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="moments-mobile">
        <div class="centerImage">
          <img class="animateLeft" src="../../assets/imgs/Group 233.png" alt="">
        </div>
      </ion-col>
      <ion-col class="advertise-center ion-justify-content-center">
        <ion-row>
          <ion-col>
            <ion-text class="advertise-title line-after">Capturing Moments</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col>
            <ion-text class="advertise-subtitle">Keep & share your precious experiences with others</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <div>
              <ion-button class="custom-button" color="orange">Learn More</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="moments-desktop">
        <div class="centerImage">
          <img class="animateRight" src="../../assets/imgs/Group 233.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

<ion-grid>
  <div class="container">
    <ion-row class="ion-align-items-center">
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <div class="centerImage">
          <img class="animateLeft" src="../../assets/imgs/Group 234.png" alt="">
        </div>
      </ion-col>
      <ion-col class="advertise-center ion-justify-content-center">
        <ion-row>
          <ion-col>
            <ion-text class="advertise-title">Digitalizing Transactions</ion-text>
          </ion-col>  
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col>
            <ion-text class="advertise-subtitle">Secure platform to perform online transactions</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <div>
              <ion-button class="custom-button" color="orange">Learn More</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>