<ion-grid>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-text class="title">Follow Our News</ion-text>
      <p class="subtitle">Have a question? Look here</p>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="container">
  <ion-row>
    <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
      <ion-card>
        <img src="https://static01.nyt.com/images/2020/03/26/world/26japan-virus01/merlin_170980464_6560314b-4036-4d1f-a729-24e20212a1cf-superJumbo.jpg" />
        <ion-card-header>
          <ion-card-title>Lobbi First Launch 2020</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
      <ion-card>
        <img src="https://static01.nyt.com/images/2020/03/26/world/26japan-virus01/merlin_170980464_6560314b-4036-4d1f-a729-24e20212a1cf-superJumbo.jpg" />
        <ion-card-header>
          <ion-card-title>Lobbi First Launch 2020</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
      <ion-card>
        <img src="https://static01.nyt.com/images/2020/03/26/world/26japan-virus01/merlin_170980464_6560314b-4036-4d1f-a729-24e20212a1cf-superJumbo.jpg" />
        <ion-card-header>
          <ion-card-title>Lobbi First Launch 2020</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <div class="following-button">
        <ion-button class="custom-button" fill="outline" color="orange">View All News</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>