<ion-grid class="banner-container ion-no-padding">
  <div class="container banner-background">
    <ion-row class="bannerHeight ion-align-items-center">
      <ion-col class="banner-column ion-justify-content-center" size-xl="4" size-lg="5" size-md="12" size-sm="12" size-xs="12">
        <ion-row>
          <ion-col>
            <ion-text class="title">An App For Anything And Everything</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <ion-text class="banner-subtitle">The most useful app you'll ever use</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col>
            <div>
              <img src="../../../assets/imgs/Group 271.png" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="doublePhone">
        <div class="bigPhone">
          <img src="../../../assets/imgs/Group 263.png" alt="">
        </div>
        <div class="smallPhone">
          <img src="../../../assets/imgs/Group 264.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>