<ion-header class="ion-no-border" [translucent]="true">

  <!-- Navbar -->
  <app-navbar></app-navbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Banner -->
  <app-banner></app-banner>

  <!-- Advertisement -->
  <app-advertise></app-advertise>

  <!-- Why Lobbi -->
  <app-advertise2></app-advertise2>

  <!-- User Feedback -->
  <app-feedback></app-feedback>

  <!-- Download and Stay -->
  <app-newsletter></app-newsletter>

  <!-- FAQ -->
  <app-faq></app-faq>

  <!-- Follow Our News -->
  <app-following></app-following>

  <!-- Get In Touch -->
  <app-info></app-info>

  <!-- Footer -->
  <app-footer></app-footer>

</ion-content>
